
.menu-list {
    display: flex;
    white-space: nowrap; /* ป้องกันการขึ้นบรรทัดใหม่ */
    width: 100%; /* กำหนดให้กว้างเต็มหน้าจอ */
    
    gap: 20px; /* เพิ่มช่องว่างระหว่างเมนู */
    padding: 20px 0; /* ป้องกันเมนูชิดเกินไป */

    overflow-x: hidden;  /* ซ่อน scrollbar */
    white-space: nowrap; /* ป้องกันการขึ้นบรรทัดใหม่ */
    position: relative;
}

.menu-list-item {
    width: 146px;
    height: 148px;
    /* border: solid 1px rgb(5, 39, 255); */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    /* background-color: #f0f0f0; เพิ่มสีพื้นหลังเพื่อทดสอบ */
}

.menu-list-item img{
    width: 120px;
    height: 78px;
    /* border: solid 1px rgb(22, 255, 77); */
}

.menu-list-item p {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
}