.menu{
    width: 136px;
    height: 147px;
    display: flex;
    flex-direction: column;
    gap: 20px;  /* ลด gap ลงเพื่อให้เนื้อหาแน่นขึ้น */
    align-items: center; /* ทำให้เนื้อหาตรงกลาง */
    justify-content: center;
}
.menu img {
    width: 120px;
    height: 78px;
}

.menu p {
    font-size: 16px;
    font-weight: 400;
}

.carousel-container {
    padding: 0 !important; /*บังคับ ให้สไตล์ที่กำหนดมี ความสำคัญสูงสุด "override"*/
  }
  
.carousel-item-custom {
    width: 100% !important;
    max-width: 200px; /* ปรับขนาดการ์ดให้พอดี */
    margin: 0 5px; 
}    